<Router AppAssembly="@typeof(Program).Assembly" AdditionalAssemblies="new[] { typeof(EventHub.Client._Imports).Assembly }">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(Layout.MainLayout)">
            <NotAuthorized>
                <RedirectToLogin />
            </NotAuthorized>
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>

    <NotFound>
        <LayoutView Layout="@typeof(Layout.MainLayout)">
            <h1>404 - Страница не найдена</h1>
            <NavLink href="/">На главную</NavLink>
        </LayoutView>
    </NotFound>
</Router>